.square {
    height: 120px;
    width: 120px;
    border: 2px;
    border-color: white;
    position: relative;
    border-style: solid;
    box-sizing: border-box;
}


.circle {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: 1px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;
}

.purple {
    background-color: purple;
}

.grey {
    background-color: grey;
}

.pink {
    background-color: pink;
}

.center {
    left: 120px;
}

.right {
    left: 240px;
}

#blue-square {
    bottom: 120px;
}

#green-square {
    bottom: 240px;
}

#yellow-square {
    bottom: 240px;
}

#black-square {
    bottom: 360px;
}

#orange-square {
    bottom: 480px;
}

#purple-square {
    bottom: 480px;
}

#grey-square {
    bottom: 600px;
}

#pink-square {
    bottom: 720px;
}