* {
    box-sizing: border-box;
    margin: 5px 0;
    padding: 0;
}


#content {
    height: 360px;
    width: 660px;
    position: relative;
    margin: 0 auto;
    background-image: url("../2-jezioro.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

#mask {
    height: 100%;
    width: 100%;
    opacity: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    transition: opacity 0.6s ease-in;
}

h1 {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "Times New Roman", serif;
    color: white;
    font-size: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

#mask:hover {
    opacity: 1;
}

#mask::before {
    content:'';
    box-sizing: border-box;
    display: block;
    position: absolute;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 0%;
    width: 100%;
    transition: height 0.6s ease-in;
}

#mask:hover::before {
    height: 50%;
}

#mask::after {
    content:'';
    box-sizing: border-box;
    display: block;
    position: absolute;
    margin: 0;
    bottom: 0;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 0;
    width: 100%;
    transition: height 0.6s ease-in;
}

#mask:hover::after {
    height: 50%;
}