* {
    background-color: #98fb98;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#product1 {
    background-image: url("../img/product-1.jpg");
}


#product2 {
    background-image: url("../img/product-2.jpg");
}

#product3 {
    background-image: url("../img/product-3.jpg");
}

#product4 {
    background-image: url("../img/product-4.jpg");
}


div.catalog {
    display: inline-block;
    height: 30vh;
    width: 20vw;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1vw;
    overflow: hidden;
    position: relative;
    left: 4%;
    right: 4%;
}

.kosz {
    height: 30vh;
    width: 20vw;
    opacity: 0;
    position: relative;
    transition: background-color 0.5s, opacity 0.5s;
}

.ikona {
    position: absolute;
    left: 40%;
    right: 60%;
    top: 35%;
    bottom: 65%;
    font-size: 3vh; 
    opacity: 1.0;
}

.ikona i {
    background-color: transparent;
    color: white;
    opacity: 1;
    transition: opacity 0.5s;
}

.kosz:hover {
opacity: 0.8;
    background-color: #ff6f00;
}



