* {
    background-color: #98fb98;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#product1 {
    background-image: url("../img/product-1.jpg");
}


#product2 {
    background-image: url("../img/product-2.jpg");
}

#product3 {
    background-image: url("../img/product-3.jpg");
}

#product4 {
    background-image: url("../img/product-4.jpg");
}

#main {
    position: relative;
    margin: 0;
    width: 100%;
    max-height: 100vh;
    text-align: center;
    top: 30vh;
}


div.catalog {
    display: inline-block;
    position: relative;
    height: 30vh;
    width: 20vw;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1vw;
    overflow: hidden;


}

.kosz {
    height: 30vh;
    width: 20vw;
    background-color: transparent;
    position: relative;
    transition: background-color 0.5s;
    text-align: center;

}

.kosz:hover {
    background-color: rgba(255, 111, 0, 0.8);
}


.ikona {
    position: absolute; 
    font-size: 3vh;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ikona i {
    background-color: transparent;
    margin: 0 auto;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}

.kosz:hover i {
    opacity: 1;
}